@import "tailwindcss";
@import "../../styles/_variables.scss";
@import "../../styles/_keyframe-animations.scss";

:root {
  --background: #ffffff;
  --foreground: #262626;
}

.font-geist-sans {
  font-family: var(--font-geist-sans), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

p:empty::before {
  content: "\00a0";
  display: inline-block;
}

.language-typescriptreact {
  white-space: pre-wrap;
  word-break: break-word;
}

code {
  font-family: var(--font-geist-mono), monospace;
}
